@font-face {
    font-family: 'Sofia Sans Condensed';
    src: url('font/SofiaSansCondensed-VariableFont_wght.ttf') format('truetype');
  }


  body {
    
    font-family: 'Sofia Sans Condensed', sans-serif;
}
table {
    
    border: 2px solid rgb(141, 202, 255);
    border-radius: 10px;
    background-color: rgb(141, 202, 255);
}



tr {
    
    border: 2px solid black;
}

td {
    font
}